<app-encabezado></app-encabezado>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <section class="main">
      <h2 class="main__title">{{place.nombre}}</h2>
   </section>
   <br> {{place.nombre}}
   <br> {{place.descripcion}}
   <br> {{place.fotos}}
   <br> {{place.ubicacion}}
   <br> {{place.latitud}}
   <br> {{place.longitud}}
   <br> {{place.numero}}

   <div>
      <agm-map 
         [latitude]="place.latitud" 
         [longitude]="place.longitud"
         [zoom]= "zoom">

         <agm-marker
            [latitude]="place.latitud" 
            [longitude]="place.longitud">
            <agm-info-window>
               <p> {{ place.nombre }}  </p>
            </agm-info-window>
         </agm-marker>
         
         <agm-direction
         [origin]="origin" 
         [destination]="destination"
         *ngIf= "look">
         </agm-direction>


       </agm-map>
       <button class="btn btn-primary" (click)="ruta()">Como llego ahi</button>
   </div>
</body>
<tr></tr><tr></tr>
<tr></tr><tr></tr>
<app-piepagina></app-piepagina>
