<app-encabezado></app-encabezado>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
</head>
<body>
   <section class="main">
      <h2 class="main__title">{{place.nombre}}</h2>
   </section>
   <br> 
   <div class="diviz">
      <p class="sub">
         Descripcion del lugar:
      </p>
      <p class="text">
         {{place.descripcion}}
         <br>
      </p>

      <div class="divcenter">
         <agm-map 
            [latitude]="place.latitud" 
            [longitude]="place.longitud"
            [zoom]= "zoom">

            <agm-marker
               [latitude]="place.latitud" 
               [longitude]="place.longitud">
               <agm-info-window>
                  <p> {{ place.nombre }}  </p>
               </agm-info-window>
            </agm-marker>
            
            <agm-direction
            [origin]="origin" 
            [destination]="destination"
            *ngIf= "look">
            </agm-direction>
            
          </agm-map>


          <button class="button" (click)="ruta()">Como llego ahi</button>
          <p class="sub">
            Ubicacion del lugar (referncias):
         </p>
         <p class="text">
            {{place.ubicacion}}
         </p>
      </div>
   </div>

   <div class="divder">
      <section class="carousel">
         <div class="carousel__container">
           <div class="carousel-item" *ngFor="let p of place.fotos">
               <img class = "carousel-item__img" src={{p}}  alt="">
            </div>
         </div>
      </section>
      
   </div>
   
</body>

<app-piepagina></app-piepagina>
