  <app-encabezado></app-encabezado>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <section class="main">
      <h1 class="main__title">Lista de lugares</h1>
   </section>

   <div class="table__list" >
            <table id="myTable" class="table table-striped">
                <thead>
                   <tr>
                      <th scope="col">idLugar</th>
                      <th scope="col">idTipoTurismo</th>
                      <th scope="col">nombre</th>
                      <th scope="col">descripcion</th>
                      <th scope="col">ubicacion</th>
                      <th scope="col">latitud</th>
                      <th scope="col">longitud</th>
                      <th scope="col">numero</th>
                   </tr>
                </thead>
                <tbody *ngFor="let p of lugares">
                       <td>{{p.idLugar}}</td>
                       <td>{{p.idTipoTurismo}}</td>
                       <td>{{p.nombre}}</td>
                       <td>{{p.descripcion}}</td>
                       <td>{{p.ubicacion}}</td>
                       <td>{{p.latitud}}</td>
                       <td>{{p.longitud}}</td>
                       <td>{{p.numero}}</td>
                       <button class="btn btn-primary" (click)="detalle(p.idLugar)">Detalle</button>
                </tbody>
             </table>
       
  </div>

</body>
<app-piepagina></app-piepagina>

