<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="../assets/imagenes/banderaBol.png" alt="bandera">
    <section class="section">
      <ul>
        <li><a href="Inicio.html">Inicio</a></li>
        <li><a href="">Tipos de turismo</a>
          <ul>
            <li><a href="">Gastronomico</a></li>
            <li><a href="">Cultural</a></li>
            <li><a href="">De aventura</a></li>
            <li><a href="">De naturaleza</a></li>
            <li><a href="">Nocturno</a></li>
            <li><a href="">Comunitario</a></li>
            <li><a href="">Aviturismo</a></li>
        </ul>
        </li>
        <li><a href="">Transportes</a>
          <ul>
              <li><a href="http://www.lapazbus.bo">Pumakatari</a></li>
              <li><a href="http://www.miteleferico.bo">Telefericos</a></li>
          </ul>
        </li>
        <li><a href="">Nosotros</a></li>
      </ul>
    </section>
  </header>
  <div class="w3-content">
    <img class="mySlides" src="../assets/imagenes/lago.jpeg" alt="custom_html_banner1" style="width:100%">
   </div>


  <section class="carousel">
    <div class="carousel__container">

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/ami,mas.jpg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/calle.jpeg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/edificio.jpg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/iglesia.jpg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/casera.jpg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/copa.jpg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../assets/imagenes/illimani.jpg" alt=""  />
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo</p>
        </div>
      </div>

    </div>
  </section>
  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Contactanos</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>