<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="../assets/imagenes/banderaBol.png" alt="bandera">
    <section class="section">
      <ul>
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a href="">Tipos de turismo</a>
          <ul>
            <li><button class="btn btn-primary" (click)="enviar('gastronomico')">Gastronomico</button></li>
            <li><button class="btn btn-primary" (click)="enviar('cultural')">Cultural</button></li>
            <li><button class="btn btn-primary" (click)="enviar('naturaleza')">Naturaleza</button></li>
            <li><button class="btn btn-primary" (click)="enviar('nocturno')">Nocturno</button></li>
            <li><button class="btn btn-primary" (click)="enviar('comunitario')">Comunitario</button></li>
            <li><button class="btn btn-primary" (click)="enviar('aventurero')">Aventurero</button></li>
        </ul>
        </li>
        <li><a href="">Transportes</a>
          <ul>
              <li><a href="http://www.lapazbus.bo">Pumakatari</a></li>
              <li><a href="http://www.miteleferico.bo">Telefericos</a></li>
          </ul>
        </li>
        <li><a href="">Nosotros</a></li>
      </ul>
    </section>
  </header>
  
</body>
