<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<header class="header">
  <img class="header__img" src="../assets/imagenes/banderaBol.png" alt="bandera">
  <section class="section">
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a href="">Tipos de turismo</a>
        <ul>
          <li><a (click)="enviar('gastronomico')">Gastronomico</a></li>
          <li><a (click)="enviar('cultural')">Cultural</a></li>
          <li><a (click)="enviar('naturaleza')">Naturaleza</a></li>
          <li><a (click)="enviar('nocturno')">Nocturno</a></li>
          <li><a (click)="enviar('comunitario')">Comunitario</a></li>
          <li><a (click)="enviar('aventurero')">Aventurero</a></li>
        </ul>
      </li>
      <li><a href="">Transportes</a>
        <ul>
          <li><a href="http://www.lapazbus.bo">Pumakatari</a></li>
          <li><a href="http://www.miteleferico.bo">Telefericos</a></li>
        </ul>
      </li>
    </ul>
  </section>
</header>

</body>
