<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <img class="header__img" src="../assets/imagenes/banderaBol.png" alt="bandera">
      <section class="section">
        <ul>
          <li><a routerLink="/inicio">Inicio</a></li>
          <li><a href="">Tipos de turismo</a>
            <ul>
              <li><a href="">Gastronomico</a></li>
              <li><a href="">Cultural</a></li>
              <li><a href="">De aventura</a></li>
              <li><a href="">De naturaleza</a></li>
              <li><a href="">Nocturno</a></li>
              <li><a href="">Comunitario</a></li>
              <li><a href="">Aviturismo</a></li>
          </ul>
          </li>
          <li><a href="">Transportes</a>
            <ul>
                <li><a href="http://www.lapazbus.bo">Pumakatari</a></li>
                <li><a href="http://www.miteleferico.bo">Telefericos</a></li>
            </ul>
          </li>
          <li><a href="">Nosotros</a></li>
        </ul>
      </section>
    </header>
    <a routerLink="/Nosotros" class="rainbow-button" alt="Nosotros"></a>
  </body>